:root {
    --accent-color: rgb(156, 164, 186);
    --dark-color: rgb(32, 48, 67);
    --dark-text-color: rgb(51, 53, 50);
    --page-title-color: rgb(226, 227, 227);
    --light-text-color: rgb(243, 243, 243);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

header {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: var(--page-title-color);
    text-transform: uppercase;
    padding: 36px 0 0;
    text-align: center;
}

.main-nav {
    background-color: #fff;
    color: var(--dark-text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    justify-content: center;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 16px 0;
    padding: 8px 16px;
}

nav a {
    color: inherit;
    text-decoration: none;
    margin: 8px;
}

.main-content {
    color: var(--light-text-color);
    background-color: var(--dark-color);
    padding: 24px;
    min-height: 75vh;
}

.main-content > h3 {
    color: #fff;
    text-transform: uppercase;
    margin: 8px 10px;
}

.info-para {
    padding: 16px 10px;
}

.superhero-nav {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    list-style: none; 
    padding: 0; 
    text-transform: uppercase;
    flex-wrap: wrap;
}

.superhero-nav > * {
    aspect-ratio: 1/1;
    align-items: center;
    background-color: var(--accent-color);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: var(--dark-text-color);
    display: flex;
    text-align: center;
    justify-self: center;
    overflow: scroll;
    justify-content: center;
    margin: 10px;
    width: 115px;
}

.back-button {
    border-radius: 5px;
    border: none;
    background-color: var(--accent-color);
    color: var(--dark-text-color);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 8px;
    margin: 16px 10px;
    font-size: 0.8rem;
}

.back-button a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 350px) {
    .main-nav {
        font-size: 0.6rem;
    }

    .grid-container,
    .back-button {
        font-size: 0.5rem;
    }
}